.span6
  = form_for @article, url: { controller: "articulator", action: "update" } do |f|
    = f.label :headline
    = f.text_field :headline, class: "input-block-level"
    = f.label :pub, "Pub name"
    = f.text_field :pub
    = f.label :author
    = f.text_field :author
    = f.label :date
    = f.text_field :date
    = f.label :brief
    = f.text_area :brief, rows: "6", class: "input-block-level"
    %label
    = f.submit "Update", class: "btn"

  .well.well-large
    .headline
      = link_to @article.headline, @article.url
    .brief
      %span.date
        = @article.date
        \--
      %span.brief
    .meta
      %span.pub
        = @article.pub
      %span.author
        = @article.author
%iframe#iframe.pull-right{ src: "#{@article.url}", width: "760px", height: "1000px" }
