!!! 5
%head
  %title Chimp.
  = stylesheet_link_tag "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }

%body
  .page.container
    - unless params[:controller] == 'articulator' && params[:action] == 'show'
      .navbar.navbar-inverse
        .navbar-inner
          %ul.nav
            %li
              = link_to "Main", root_path
            %li.dropdown
              %a.dropdown-toggle{ :"data-toggle" => "dropdown", href: "#" }
                Manage
                %b.caret

              %ul.dropdown-menu
                %li
                  = link_to "Publications", publications_path
                %li
                  = link_to "Past Reports", reports_path

    = bootstrap_flash

    - if current_page? root_url
      = render "articulator/hero"


    = yield
